<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <div class="container mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <span class="footer__text">Online Sınav Sistemi developed with <i class="footer__heart fa-solid fa-heart"></i> by <a class="footer__link" href="https://www.github.com/emreozgenc" target="_blank">Emre Özgenç</a></span>
    </footer>

    @if (TempData["SuccessMessage"] != null)
    {
        <div id="notify" data-time="5000" class="notification notification-success">
            <button id="notify-close" class="notification__button"><i class="fa-solid fa-xmark"></i></button>
            <span class="notification__text">@TempData["SuccessMessage"]</span>
        </div>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/notify.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
