@model InformationModel
@{
    Layout = "_SecondaryLayout";
}

<h2 class="text-center text-primary mt-8">Bilgilerini Güncelle</h2>
<div class="row">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 card mx-auto mt-2">
        @if (ViewBag.ErrorMessages != null)
        {
            <div class="alert alert-danger mb-2">
                <ul>
                    @foreach (var message in ViewBag.ErrorMessages)
                    {
                        <li>@message</li>
                    }
                </ul>
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-2"></div>
        <form asp-controller="Settings" asp-action="Information" method="post">
            <div class="form__group">
                <label class="form__label" asp-for="UserName"></label>
                <input readonly class="form__input" asp-for="UserName" />
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="form__label" asp-for="FirstName"></label>
                    <input class="form__input" asp-for="FirstName" />
                </div>
                <div class="col-6">
                    <label class="form__label" asp-for="LastName"></label>
                    <input class="form__input" asp-for="LastName" />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="form__label" asp-for="EMail"></label>
                    <input class="form__input" asp-for="EMail" />
                </div>
                <div class="col-6">
                    <label class="form__label" asp-for="Phone"></label>
                    <input class="form__input" asp-for="Phone" />
                </div>
            </div>
            <button class="btn btn-primary btn-block mt-2">Bilgilerini Güncelle</button>
        </form>
    </div>
</div>